<h1>Here's a little bit about myself!</h1>

<img src="MyPhoto.jpg" style="width: 400px; height:300px;">

<p>My name is Jaemin Kim, and I am a sophomore from San Ramon, California. I've was born in Seoul, <br>
  but I moved to the United States when I was 4.
</p>

<p class="fun-fact">Stephen Curry bought a house in Walnut Creek, which is like 15 minutes from San Ramon! <br>
</p>

<p class="lmao">I'm most excited about expanding my portfolio and strengthening my web development skills.</p>

