/* CSS file for the me.html.erb file */


.where {
    background-color: green;
    color: white;
}


.fun-fact {
    color: red;
    font-weight: bold;
}
.lmao {
    text-decoration: underline;
    color: blue;
}